<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <table>
            <tr>
                <th>姓名</th>
                <th>年龄</th>
                <th>成绩</th>
                <th>等级</th>
            </tr>
            <tr v-for="person in persons">
                <td>{{person.name}}</td>
                <td>{{person.age}}</td>
                <td>{{person.score}}</td>
                <td v-if="person.score >= 60">及格</td>
                <td v-else>不及格</td>
            </tr>
        </table>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script>
    const vm = new Vue({
        el: '#app',
        data: {
            persons: [
                {name:'Tom',age:18,score:100},
                {name:'Amy',age:88,score:50}
            ],
        }
    })
</script>

</html>