<!-- S 顶部导航 -->
<div class="top">
    <div class="container">
        <div class="user-info">
            <div class="not-login">
                <a href="./user-login.html">登录</a>
                <a href="./user-register.html">注册</a>
            </div>
        </div>
        <ul class="nav-list">
            <li class="nav-item cart-box">
                <a href="#">
                    <i class="iconfont icon-Cart"></i>
                    购物车(<span class="cart-count">0</span>)
                </a>
                <div class="cart-content">
                </div>
            </li>
            <li class="nav-item">
                <a href="#">个人中心</a>
            </li>
            <li class="nav-item">
                <a href="#">我的订单</a>
            </li>
        </ul>
    </div>
</div>
<!-- E 顶部导航 -->