<!-- S 头部搜索 -->
<div class="header">
    <div class="container">
        <div class="logo col-1 col-gap">
            <h1>
                <a href="#">SortMall</a>
            </h1>
        </div>
        <div class="search-wrap">
            <div class="search-box clearfix">
                <input class="search-input" type="text" placeholder="请输入商品名称关键字">
                <a href="javascript:;" class="search-btn">搜索</a>
                <ul class="search-layer">
                    <!-- <li class="search-item">衣服</li> -->
                </ul>
            </div>
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="#">首页</a>
                </li>
                <li class="nav-item">
                    <a href="#">全部商品</a>
                </li>
                <li class="nav-item">
                    <a href="#">热卖商品</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- E 头部搜索 -->